/* banner section  */
.banner {
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 12px 0;
}

/* welcome section  */
.welcome {
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
/* schedule section  */
.schedule {
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
}
/* holiday section  */

/* .holiday-box {
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
} */